.color-circle{
    margin-left: 30px;
    height: 3rem;
    width: 3rem;
    border: 2px;
    background-color: #fff;
    border-radius: 50px;
    padding: 2px;
}
.Image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Image-container>image{
    max-height: inherit;
    max-width: 100%;
}
.my_btn_style{
    border-radius: 20px;
    height: 4rem;
    width: 4rem;
    border: 1px;
    font-size: 2rem;
    position: absolute;
    background: transparent;
    color: rgb(201, 198, 198);
}

.my_btn_style:hover{
    background: rgb(228, 228, 228);
    color: white;
}