.color-circle {
  margin-left: 30px;
  height: 3rem;
  width: 3rem;
  border: 2px;
  background-color: #fff;
  border-radius: 50px;
  padding: 2px;
}
.Image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Image-container > image {
  max-height: inherit;
  max-width: 100%;
}
.my_btn_style {
  border-radius: 20px;
  height: 4rem;
  width: 4rem;
  border: 1px;
  font-size: 2rem;
  position: absolute;
  background: transparent;
  color: rgb(201, 198, 198);
}

.my_btn_style:hover {
  background: rgb(228, 228, 228);
  color: white;
}
.incDecIcons {
  border-radius: 20px;
  width: 4rem;
  border: 1px;
  font-size: 1.2rem;
  position: absolute;
  background: transparent;
  color: black;
}
.alert {
  font-size: 1.3rem;
}

.header-remove-btn {
  border-radius: 20px;
  height: 3rem;
  width: 3rem;
  border: 1px;
  color: red;
  font-size: 1.5rem;
}
::-webkit-scrollbar {
  display: none;
}

.margin-left-1-2rem {
  margin-left: 1.2rem;
}
.margin-left-4px {
  margin-left: 4px;
}
.margin-left-2rem {
  margin-left: 2rem;
}
.m-0 {
  margin: 0px;
}
.padding-4 {
  padding: 4px;
}
.color-gray {
  color: #878787;
}
.header-color {
  color: #167ed2;
}
.text-black {
  color: black;
}
.display-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.margin-bottom-2rem {
  margin-bottom: 2rem;
}
.body-item > p > a > span {
  color: black;
  font-size: 1.5rem;
}
.body-item > p > a > span:hover {
  color: #167ed2;
}
.mtop-2 {
  margin-top: 2rem;
}
.pt-1-2rem {
  padding-top: 1.2rem;
}
.pt-1-2rem:hover {
  background: #f3faff;
}
.capitalize {
  text-transform: uppercase;
}
.capitalize-fl {
  text-transform: capitalize;
}

:root {
  --card-line-height: 1.2em;
  --card-padding: 1em;
  --card-radius: 0.5em;
  --color-green: #558309;
  --color-gray: #e2ebf6;
  --color-dark-gray: #c4d1e1;
  --radio-border-width: 2px;
  --radio-size: 1.5em;
}

.grid {
  display: grid;
  grid-gap: var(--card-padding);
  margin: 0 auto;
  max-width: 60em;
  padding: 0;

  @media (min-width: 42em) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  background-color: #fff;
  border-radius: var(--card-radius);
  position: relative;

  &:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }
}

.radio {
  font-size: inherit;
  margin: 0;
  position: absolute;
  right: calc(var(--card-padding) + var(--radio-border-width));
  top: calc(var(--card-padding) + var(--radio-border-width));
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .radio {
    -webkit-appearance: "none";
    -moz-appearance: none;
    background: #fff;
    border: var(--radio-border-width) solid var(--color-gray);
    border-radius: 50%;
    cursor: pointer;
    height: var(--radio-size);
    outline: none;
    transition: background 0.2s ease-out, border-color 0.2s ease-out;
    width: var(--radio-size);

    &::after {
      border: var(--radio-border-width) solid #fff;
      border-top: 0;
      border-left: 0;
      content: "";
      display: block;
      height: 0.75rem;
      left: 25%;
      position: absolute;
      top: 50%;
      transform: rotate(45deg) translate(-50%, -50%);
      width: 0.375rem;
    }

    &:checked {
      background: var(--color-green);
      border-color: var(--color-green);
    }
  }

  .card:hover .radio {
    border-color: var(--color-dark-gray);

    &:checked {
      border-color: var(--color-green);
    }
  }
}

.plan-details {
  border: var(--radio-border-width) solid var(--color-gray);
  border-radius: var(--card-radius);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: var(--card-padding);
  transition: border-color 0.2s ease-out;
}

.card:hover .plan-details {
  border-color: var(--color-dark-gray);
}

.radio:checked ~ .plan-details {
  border-color: var(--color-green);
}

.radio:focus ~ .plan-details {
  box-shadow: 0 0 0 2px var(--color-dark-gray);
}

.radio:disabled ~ .plan-details {
  color: var(--color-dark-gray);
  cursor: default;
}

.radio:disabled ~ .plan-details .plan-type {
  color: var(--color-dark-gray);
}

.card:hover .radio:disabled ~ .plan-details {
  border-color: var(--color-gray);
  box-shadow: none;
}

.card:hover .radio:disabled {
  border-color: var(--color-gray);
}

.plan-type {
  color: var(--color-green);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1em;
}

.plan-cost {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.5rem 0;
}

.slash {
  font-weight: normal;
}

.plan-cycle {
  font-size: 2rem;
  font-variant: none;
  border-bottom: none;
  cursor: inherit;
  text-decoration: none;
}

.hidden-visually {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.flex-column{
    flex-direction: column;
}


.mtop-1{
  margin-top: 1rem;
}
.mtop-1-2{
  margin-top: 1.2rem;
}
.p-2rem{
  padding: 2rem;
}


HTML CSS JSResult Skip Results Iframe
EDIT ON
html,body{margin: 0px;background-color: #eee;}

#partA{
  /* margin:20px auto; */
  width: 20px;height: 20px;
  background-image:-webkit-radial-gradient(center,rgba(238,238,238,0.5) 60%,rgba(0,0,0,1) 100%);
  border-radius:10px; 
  transform-origin:center center;  
  animation:fly 9s infinite;
  animation-timing-function:linear;
}

#partA:after{
  content:"";
  position:absolute;
  width: 30px;height: 30px;
  background-image:-webkit-radial-gradient(center,rgba(238,238,238,0.5) 60%,rgba(0,0,0,1) 100%);
  border-radius:100px; 
  transform-origin:center center;  
  animation:fly s infinite;
  animation-timing-function:linear;
}

#partA:before{
  content:"";
  position:absolute;
  width: 10px;height: 10px;
  background-image:-webkit-radial-gradient(center,rgba(238,238,238,0.5) 60%,rgba(0,0,0,1) 100%);
  border-radius:100px; 
  transform-origin:center center;  
  animation:fly 3s infinite;
  animation-timing-function:linear;
}

  @-webkit-keyframes fly 
      {
         0%{ transform: scale(0.5); opacity: 0;
               transform-origin:center center;
              }
         50%{ transform: scale(1);opacity: 1;                    transform-origin:center center;}
         100% {transform: scale(1.5);opacity: 0;                  transform-origin:center center;} 
       }




